.banner__course {
  width: 100%;
  padding: 110px 0 100px;
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content__banner_course {
  text-align: center;
  position: relative;
}

.banner__course::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 15, 64, 0.8);
}

.content__banner_course h1 {
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ff630e;
}

.content__banner_course p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.content__banner_course p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.content__banner_course p a:hover {
  color: #ff630e;
}

.courses-wrapper .course-content-container {
  padding: 100px 0;
}

.courses-wrapper .course-content-container .course-sidebar .course-sidebar-search {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.courses-wrapper .course-content-container .course-sidebar .course-sidebar-search i {
  position: absolute;
  right: 15px;
  font-size: 18px;
  color: grey;
}

.courses-wrapper .course-content-container .course-sidebar .course-sidebar-search input {
  padding-right: 30px !important;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r {
  margin-bottom: 30px;
  width: 100%;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.832);
  font-weight: bold;
  // margin-bottom: 10px;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r .checkbox__course {
  margin: 10px 0;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r .checkbox__course label {
  font-size: 14px;
  color: grey;
  margin-left: 5px;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r #showMore .txtShow {
  font-size: 14px;
  color: grey;
  margin-left: 5px;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r #showMore .txtShow .fa-arrow-down {
  float: left;
}

.courses-wrapper .course-content-container .course-sidebar .tag_r #showMore .txtShow .fa-arrow-up {
  display: none;
  float: left;
}

.courses-wrapper .course-content-container .courses-list-content .header-courses-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-wrapper .course-content-container .courses-list-content .header-courses-list .counter-course h5 {
  font-weight: 700;
  margin-right: 5px;
}

.courses-wrapper .course-content-container .courses-list-content .header-courses-list select {
  flex-basis: 25%;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom {
  width: 100%;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom:hover {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
  transition: all 0.3s;
}

//fix bug card course list
.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .card-title {
  min-height: 24px;
  height: 70px;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .card-title a {
  color: #130f40;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .card-title a:hover {
  color: #ff630e;
  cursor: pointer;
  transition: all 0.3s;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .sub-title {
  color: #999;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .description {
  color: #0e0a38;
  margin-top: 10px;
  font-weight: 400;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .cost {
  color: #ff630e;
  font-size: 16px;
  font-weight: 500;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .add-to-cart i {
  font-size: 27px;
}

.courses-wrapper .course-content-container .courses-list-content .main-courses-list .card-course-custom .add-to-cart:hover i {
  transition: all 0.3s;
  color: #ff630e;
  cursor: pointer;
}

.courses-wrapper .course-content-container .courses-list-content .course-pagination {
  margin-top: 20px;
}

.courses-wrapper .course-content-container .courses-list-content .course-pagination ul li {
  display: inline-block;
  margin-right: 10px;
}

.courses-wrapper .course-content-container .courses-list-content .course-pagination ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  background: #f5f5f5;
  border-radius: 50%;
}

.courses-wrapper .course-content-container .courses-list-content .course-pagination ul li a:hover {
  background-color: #ff630e;
  color: #fff;
  transition: all 0.3s;
}

.courses-wrapper .course-content-container .courses-list-content .course-pagination ul li .active {
  background-color: #ff630e;
  color: #fff;
}

.btn-outline-secondary-custom {
  color: #fff;
  background-color: #ff630e;
  border: 1px solid #ff630e;
}

.btn-outline-secondary-custom:hover {
  color: #ff630e;
  background-color: #fff;
  border: 1px solid #ff630e;
}

.icon-title-course {
  width: 42px;
  height: 42px !important;
  object-fit: cover;
}

.btn-primary-custom {
  margin-top: 0px !important;
}

.price-cost {
  position: absolute;
  top: 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ff630e;
  background-color: #fff;
  box-shadow: 2px 2px gray;
}

.feedback-time {
  display: flex;
  align-items: center;
  flex: 1;
}

.time {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.avatar-mentor {
  position: absolute;
  top: -45px;
  width: 62px !important;
  height: 62px !important;
  border: 2px solid #a9a7a7;
  object-fit: cover;
}

.icon-time {
  width: 10px;
  height: 10px;
}

.icon-user {
  width: 10px !important;
  height: 10px !important;
  object-fit: cover;
}

.icon-V {
  width: 10px !important;
  height: 10px !important;
  object-fit: cover;
}

.mark {
  background-color: transparent;
}

.card-img-top {
  width: 100%;
  height: 180px;
}

.icon-search-btn-course {
  position: absolute;
  right: 16px !important;
  top: 9px !important;
  border: none;
  background-color: white;
}

.icon-search-btn-course:hover {
  cursor: pointer;
  opacity: 0.6;
  color: #ff630e !important;
  transition: all 0.3s;
}

#txtShowTitle:hover {
  opacity: 0.8;
  color: #ff630e;
  cursor: pointer;
  transition: all 0.3s;
}

#txtShowTitle1:hover {
  opacity: 0.8;
  color: #ff630e;
  cursor: pointer;
  transition: all 0.3s;
}

.card-title {
  margin-top: 14px;
  width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 20px !important;
  // height: 75px;

  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.icon-lv-title-right {
  position: absolute;
  right: -20px;
  top: -20px;
}

//
.course-side-lbl-item {
  font-size: 17px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.832);
    font-weight: bold;
}

.custom-price-item {
  display: flex;
  align-items: center;
}

.custom-price-item p {
  font-size: 0.9rem;
  margin-left: 6px;
  color: gray;
}

// Button search course 
.btn-search-course {
  background-color: #ff630e;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ff630e;
  margin-bottom: 22px;
  font-size: 0.9rem;
}

.btn-search-course:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s;
}
.display-options-container {
  /* Hide the display resolution and orientation sections by default */
  display: none;
}
