.withdraw-wrapper .banner__withdraw {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.withdraw-wrapper .banner__withdraw h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.withdraw-wrapper .banner__withdraw p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.withdraw-wrapper .banner__withdraw p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.withdraw-wrapper .banner__withdraw p a:hover {
  color: #ff630e;
}

.withdraw-wrapper .banner__withdraw:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.withdraw-wrapper .section2 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.withdraw-wrapper .section2 .from-withdraw {
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.withdraw-wrapper .section2 .from-withdraw h3 {
  color: #ff630e;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.withdraw-wrapper .section2 .from-withdraw label {
  width: 100%;
  padding-bottom: 10px;
  color: black;
  line-height: 30px;
  font-weight: 500;
  font-size: 20px;
}

.withdraw-wrapper .section2 .from-withdraw .money {
  color: #ff630e;
  padding-left: 5px;
  font-weight: 700;
  font-size: 24px;
}

.withdraw-wrapper .section2 .from-withdraw .inputWithIcon {
  position: relative;
  padding-bottom: 10px;
}

.withdraw-wrapper .section2 .from-withdraw .inputWithIcon input[type="text"] {
  padding-left: 50px;
}

.withdraw-wrapper .section2 .from-withdraw .inputWithIcon i {
  position: absolute;
  left: 20px;
  top: 10px;
  color: #aaa;
}

.withdraw-wrapper .section2 .from-withdraw input[type="text"] {
  padding-left: 20px;
}

.withdraw-wrapper .section2 .from-note {
  margin-top: 70px;
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.withdraw-wrapper .section2 .from-note h4 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.withdraw-wrapper .section2 .from-note p {
  color: gray;
  margin-bottom: 20px;
  font-size: 16px;
}

.withdraw-wrapper .section2 .from-note p b {
  font-weight: 700;
}