.withdraw-wrapper {
  .banner__withdraw {
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 100px;
    position: relative;
    z-index: -2;
    h2 {
      color: $secondary-color;
      line-height: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 49px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $grey-white-color;
      a {
        color: $grey-white-color;
        transition: all 0.3s;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(5, 1, 51, 0.7);
    }
  }
  .section2 {
    padding-top: 20px;
    margin-bottom: 20px;

    .from-withdraw {
      border-radius: 8px;
      padding: 20px 20px;
      -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      h3 {
        color: $secondary-color;
        line-height: 30px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
      }

      label {
        width: 100%;
        padding-bottom: 10px;

        color: black;
        line-height: 30px;
        font-weight: 500;

        font-size: 20px;
      }
      .money {
        color: $secondary-color;
        padding-left: 5px;
        font-weight: 700;
        font-size: 24px;
      }

      .inputWithIcon {
        position: relative;
        padding-bottom: 10px;

        input[type="text"] {
          padding-left: 50px;
        }
        i {
          position: absolute;
          left: 20px;
          top: 10px;
          color: #aaa;
        }
      }

      input[type="text"] {
        padding-left: 20px;
      }
    }
    .from-note {
      margin-top: 70px;
      border-radius: 8px;
      padding: 20px 20px;
      -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      h4 {
        color: $secondary-color;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
      }
      p {
        color: gray;

        margin-bottom: 20px;

        font-size: 16px;
        b {
          font-weight: 700;
        }
      }
    }
  }
}
