.register-wrapper .page-banner-area {
  background-image: url(/assets/images/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 100px;
  position: relative;
}

.register-wrapper .page-banner-area::before {
  content: "";
  position: absolute;
  background: rgba(19, 15, 64, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.register-wrapper .page-banner-area .page-banner-content {
  position: relative;
}

.register-wrapper .page-banner-area .page-banner-content h1 {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 25px;
  color: #ff630e;
  font-weight: 700;
}

.register-wrapper .page-banner-area .page-banner-content p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.register-wrapper .page-banner-area .page-banner-content p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.register-wrapper .page-banner-area .page-banner-content p a:hover {
  color: #ff630e;
}

.register-wrapper .regis-collab-area {
  padding: 0 0 110px;
}
.regis-collab-area .container {
  max-width: 1320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regis-collab-area .container .content {
  width: 50%;
}

.register-wrapper .regis-collab-area .title-register {
  height: 39px;
  padding: 10px;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff630e;
}

#schoolNameWrap,
#companyNameWrap {
  display: none;
}

#schoolNameWrap {
  position: relative;
}

.suggest-school-name {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.suggest-school-name .item-suggestion,
.show-more {
  padding: 5px;
  cursor: pointer;
}

.suggest-school-name .item-suggestion:hover,
.show-more:hover {
  background-color: #f2f2f2;
}

.register-wrapper .regis-collab-area .regis-collab-area-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.regis-collab-area-content .registration-form-wrap {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.1);
  padding: 40px;
}

.register-wrapper .regis-collab-area .regis-collab-area-content label {
  color: #999;
}

.message-un-valid {
  margin-top: 7px;
  font-size: 0.8rem;
  color: red;
}

.message-match {
  margin-top: 7px;
  font-size: 0.8rem;
  color: red;
}

.message-error {
  margin-top: 10px;
  font-size: 0.9rem;
}

.select-status {
  display: flex;
  flex-direction: column;
}

.select-status:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#job {
  width: 100%;
  height: 37px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-radius: 5px;
  border: 1px solid #ced4da;
  outline: none;
  padding: 0 5px;
}
