.sidebar-wrap {
  top: 0;
}
.feedback-wrapper .banner__feedback {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.feedback-wrapper .banner__feedback h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.feedback-wrapper .banner__feedback p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.feedback-wrapper .banner__feedback p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.feedback-wrapper .banner__feedback p a:hover {
  color: #ff630e;
}

.feedback-wrapper .banner__feedback:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.feedback-wrapper .section-feedback {
  padding-top: 20px;
  padding-bottom: 20px;
}

.feedback-wrapper .section-feedback .from-feedback {
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.feedback-wrapper .section-feedback .from-feedback .box-title {
  color: #ff630e;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.feedback-wrapper .section-feedback .from-feedback .box-content {
  color: gray;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 16px;
}

.feedback-wrapper .section-feedback .from-feedback .from-content {
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.feedback-wrapper .section-feedback .from-feedback .from-content label {
  color: black;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 16px;
}

.feedback-wrapper .section-feedback .from-feedback .from-content select {
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  color: gray;
  font-size: 16px;
}

.feedback-wrapper .section-feedback .from-feedback .from-content .radio-input {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.feedback-wrapper .section-feedback .from-feedback .from-content .chat-input {
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 8px;
  border: 0px solid darkgrey;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.feedback-wrapper .section-feedback .from-feedback .btn-showmore {
  padding-top: 20px;
  text-align: center;
}

.feedback-wrapper .section-feedback .from-feedback .btn-showmore button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  height: 30px;
  width: 80px;
  background-color: #ff630e;
  border: 0px;
  border-radius: 8px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #ECEBF0;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback-header {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 12px;
}

// .feedback-header h2 {
//   margin-top: 10px;
// }

.feedback-header1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 12px;
}

.separator-bottom-feedback {
  margin-top: 0.4rem;
  border: 1px solid #ffffff;
}

.feedback-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.feedback-left {
  display: flex;
  align-items: center;
}

.feedback-left-img {
  width: 122px;
  height: 122px;
  border-radius: 4px;
  object-fit: contain;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #fff;
}

.feedback-left-info {
  line-height: 2rem;
}

.feedback-left-info h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.feedback-right-btn {
  border: 1px solid #ff630e;
  background-color: #ff630e;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin-right: 24px;
}

.feedback-right-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.select-feedback-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #3D3B60;
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-feedback-left-info {
  line-height: 2rem;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

.feedback-right-btn-send {
  border: 1px solid #ff630e;
  background-color: #ff630e;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
}

.feedback-right-btn-send:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title-feedback {
  color: #ff630e;
  font-weight: bold;
}

.modal-header {
  border-bottom: none;
}

.feedback-left-body {
  display: flex;
  align-items: center;
  margin-top: -22px;
  margin-left: -12px;
}

.feedback-left-info-body {
  line-height: 2rem;
}

.feedback-left-info-body h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.feedback-icons {
  display: flex;
  align-items: center;
}

.feedback-icons .testi-rating-feed {
  color: #ff630e;
  margin-left: 10px;
  font-size: 1.4rem;
}

.feedback-icons h5 {
  color: #ff630e;
  font-weight: bold;
}

.write-feedback {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.write-feedback h5 {
  color: #ff630e;
  font-weight: bold;
  margin-bottom: 10px;
}

.write-feedback textarea {
  padding: 10px;
  background-color: #E6E4E5;
  border-radius: 4px;
  border: 1px solid #E6E4E5;
  resize: none;
}

.write-feedback textarea:focus {
  outline: 2px solid #ff630e;
}

.modal-footer {
  margin: 0;
  padding: 0;
  margin-top: -6px;
  margin-right: 12px;
  margin-bottom: 10px;
  border-top: none;
}

// Button click star
.btn-star-feedback {
  background-color: transparent;
  border: none;
  outline: none;
  color: gray;
} 

// active icon star 
.active-icon-star {
  color: #ff630e;
  transition: all 0.3s;
}

#value-star {
  display: none;
}
