.feedback-wrapper {
  .banner__feedback {
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 100px;
    position: relative;
    z-index: -2;
    h2 {
      color: $secondary-color;
      line-height: 30px;
      letter-spacing: 2px;
      font-weight: 700;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 49px;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $grey-white-color;
      a {
        color: $grey-white-color;
        transition: all 0.3s;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(5, 1, 51, 0.7);
    }
  }
  .section-feedback {
    padding-top: 20px;
    padding-bottom: 20px;
    .from-feedback {
      border-radius: 8px;
      padding: 20px 20px;
      -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
      .box-title {
        color: $secondary-color;
        line-height: 30px;

        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
      }
      .box-content {
        color: gray;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 16px;
      }
      .from-content {
        border-radius: 8px;
        padding: 20px 20px;
        -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
        box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);

        label {
          color: black;
          line-height: 15px;

          font-weight: 400;
          margin-bottom: 10px;

          font-size: 16px;
        }

        select {
          border-radius: 8px;
          width: 100%;
          margin-bottom: 10px;
          color: gray;
          font-size: 16px;
        }
        .radio-input {
          margin-top: 10px;
          margin-left: 20px;
          margin-bottom: 10px;
        }
        .chat-input {
          width: 100%;
          height: 100px;
          text-align: center;
          border-radius: 8px;
          border: 0px solid darkgrey;
          -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
          box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
        }
      }
      .btn-showmore {
        padding-top: 20px;
        text-align: center;
        button {
          color: white;
          font-weight: 500;

          font-size: 16px;

          height: 30px;
          width: 80px;
          background-color: $secondary-color;
          border: 0px;
          border-radius: 8px;
        }
      }
    }
  }
}
