.member-detail-wrapper .banner-member-detail {
  width: 100%;
  padding: 110px 0 100px;
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.member-detail-wrapper .banner-member-detail:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(19, 15, 64, 0.8);
  top: 0;
  left: 0;
  right: 0;
}

.member-detail-wrapper .banner-member-detail .banner-content {
  position: relative;
  text-align: center;
}

.member-detail-wrapper .banner-member-detail .banner-content h1 {
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ff630e;
}

.member-detail-wrapper .banner-member-detail .banner-content p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.member-detail-wrapper .banner-member-detail .banner-content p a {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.member-detail-wrapper .banner-member-detail .banner-content p a:hover {
  color: #ff630e;
  transition: all 0.3s;
}

.member-detail-wrapper .content-info-mentor {
  padding: 100px 0;
}

.member-detail-wrapper .content-info-mentor .member-info {
  padding: 20px 20px 50px;
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  text-align: center;
}

.member-detail-wrapper .content-info-mentor .member-info .member-img {
  background-image: url(/assets/images/overlay-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 50px 30px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-img img {
  object-fit: cover;
  margin-top: 20px;
  border-radius: 4px;
  width: 130px;
  height: 130px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details p {
  font-size: 16px;
  line-height: 26px;
  color: #999;
  margin-bottom: 1rem;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .social-list {
  margin: 0;
  padding: 0;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .social-list li {
  display: inline-block;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .social-list li a {
  display: block;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 38px;
  margin: 0 3px;
  color: #fff;
  background-color: #ff630e;
  border-radius: 4px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .contact-info {
  padding: 30px 0 20px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .contact-info li {
  margin: 0 30px;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0;
  color: #999;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .contact-info li span i {
  color: #ff630e;
  font-size: 14px;
  padding-right: 5px;
}

.member-detail-wrapper .content-info-mentor .member-info .member-details .contact-info li .current-amount {
  color: #ff630e;
}

.member-detail-wrapper .content-info-mentor .member-operation {
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  padding: 20px 20px;
  word-break: break-word;
}

.member-detail-wrapper .content-info-mentor .member-operation h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 8px;
  color: #0e0a38;
}

.member-detail-wrapper .content-info-mentor .member-operation p {
  font-size: 16px;
  color: #999;
}

.member-detail-wrapper .content-info-mentor .member-operation span {
  display: block;
  margin-top: 5px;
  color: #ff630e;
}

.member-detail-wrapper .content-info-mentor .table-wallet-container .table-wallet {
  width: 100%;
}

.member-detail-wrapper .content-info-mentor .table-wallet-pagination {
  text-align: center;
}

.member-detail-wrapper .content-info-mentor .table-wallet-pagination ul li {
  display: inline-block;
}

.member-detail-wrapper .content-info-mentor .table-wallet-pagination ul li a.active {
  background-color: #ff630e;
  color: #fff;
}

.member-detail-wrapper .content-info-mentor .table-wallet-pagination ul li a {
  display: inline-block;
  background-color: #f5f5f5;
  color: #000;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.member-detail-wrapper .content-info-mentor .table-wallet-pagination ul li a:hover {
  background-color: #ff630e;
  color: #fff;
}

.member-detail-wrapper .content-info-mentor .courses h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.member-detail-wrapper .content-info-mentor .courses .course-card {
  width: 100%;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-img-top {
  width: 100%;
  height: 210px;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body {
  padding: 30px 35px;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .card-price {
  color: #ff630e;
  font-size: 24px;
  font-weight: 700;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .card-title {
  color: #0e0a38;
  margin: 6px 0 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .skill-single .progress {
  width: 100%;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .skill-single .progress .progress-bar {
  background-color: #ff630e;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .course-info-current p {
  display: flex;
  justify-content: space-between;
  color: #0e0a38;
  font-weight: 400;
  margin-bottom: 5px;
}

.member-detail-wrapper .content-info-mentor .courses .course-card .card-body .course-info-current p span {
  color: #ff630e;
}

.member-detail-wrapper .edit-content {
  padding: 100px 0;
}

.member-detail-wrapper .edit-content form h3 {
  font-size: 25px;
  font-weight: 500;
  color: #0e0a38;
}

.member-detail-wrapper .edit-content form .sub-title {
  display: block;
  margin-bottom: 5px;
  color: #999;
}

.header-contact-info-mem-detail ul {
  display: flex;
  align-items: center;
  margin-left: -44px;
  color: #fff;
}

.header-contact-info-mem-detail ul li {
  display: flex;
  align-items: center;
}