.header-mobile-logo a {
  color: #0e0a38;
}

.login-mobile-section {
  background: #f5f5f5;
  padding: 30px 0;
}

.login-mobile-section .login-form-content {
  background: #fff;
  border-radius: 10px;
  padding: 60px;
}

.login-mobile-section .login-form-content h3 {
  font-size: 24px;
  line-height: 34px;
  color: #0e0a38;
  font-weight: 700;
}

.header-contact-info-login-succ ul {
  display: flex;
  align-items: center;
  margin-left: -44px;
  color: #fff;
}

.header-contact-info-login-succ ul li {
  display: flex;
  align-items: center;
}