$primary-color: #0e0a38;
$secondary-color: #ff630e;
$black-color: #000;
$white-color: #fff;
$text-grey-color: #999;
$grey-white-color: #f5f5f5;
$primary-overlay-color: rgba(19, 15, 64, 0.8);
$yellow-color: #f4c150;
