// Import url google font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap");
// Import variable scss
@import "./variable";
// Import mixin
@import "./_mixin.scss";
// Import global scss
@import "./global/_global.scss";
// Import spinner scss
@import "./global/_preloader.scss";
// Import login with google btn
@import "./global/login-g-btn.scss";
// Import swiper
@import "./global/swiper.scss";
// Import scss header component
@import "./global/_header.scss";
// Import scss content component
@import "./private/homepage/_index.scss";
// Import scss content aboutus
@import "./private/aboutus/_index.scss";
// Import scss login mobile page
@import "./private/loginMobilePage/_index";
// Import scss register component
@import "./private/register/_index.scss";
// Import scss courses component
@import "./private/courses/_index.scss";
// Import payment component
@import "./private/payment/_index.scss";
// Import scss course detail component
@import "./private/course-detail/_index.scss";
// Import scss mentor detail component
@import "./private/mentor-detail/_index.scss";
// Import scss blog component
@import "./private/blog/_index.scss";
// Import scss member detail component
@import "./private/member-detail/_index.scss";
// Import scss member profile component
@import "./private/member-profile/index";
// Import scss annotation component
@import "./private/announcement/_index.scss";
// Import scss blog detail component
@import "./private/blog-detail/_index.scss";
// Import scss mentor edit component
@import "./private/mentor-profile-edit/_index.scss";
// Import withdraw component
@import "./private/withdraw/_index.scss";
// Import create course component
@import "./private/create-course/_index.scss";
// Import buy course component
@import "./private/buy-course/_index.scss";
// Import wallet history component
@import "./private/wallet-management/_index.scss";
// Import feedback component
@import "./private/feedback/_index.scss";
// Import lms component
@import "./private/lms/_index.scss";
// Import scss footer component
@import "./global/_footer";
// Import login modal
@import "./global/_loginModal";
// Import scss responsive
@import "./_responsive";
