.advantages-2 {
  padding: 95px 0 150px;
  background-image: url(https://cybersoft.edu.vn/wp-content/uploads/2020/04/funfact_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .advantages-2-content {
    position: relative;
    h4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      font-style: normal;
      color: $secondary-color;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
      font-style: normal;
      color: $primary-color;
      margin-bottom: 30px;
    }
  }
}
