.advantages {
  padding: 95px 0 150px;
  .service-card {
    display: block;
    padding: 20px 0;
    margin-bottom: 30px;
    div:first-child {
      height: 70px;
      align-items: center !important;
    }
    .service-card-icon {
      display: inline-block;
      i {
        line-height: 70px;
        font-size: 30px;
        display: inline-block;
        color: $secondary-color;
      }
    }
    .service-card-title {
      color: $secondary-color;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.3;
      vertical-align: middle;
    }
    .service-card-content {
      color: $primary-color;
      line-height: 30px;
      font-size: 20px;
      text-align: justify;
      padding: 10px 0;
    }
  }
}
