.advantages {
  padding: 95px 0 150px;
}

.advantages .service-card {
  display: block;
  padding: 20px 0;
  margin-bottom: 30px;
}

.advantages .service-card div:first-child {
  // height: 70px;
  align-items: center !important;
}

.advantages .service-card .service-card-icon {
  display: inline-block;
}

.advantages .service-card .service-card-icon i {
  line-height: 70px;
  font-size: 30px;
  display: inline-block;
}

.advantages .service-card .service-card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
  vertical-align: middle;
}

.advantages .service-card .service-card-content {
  line-height: 30px;
  font-size: 20px;
  text-align: justify;
  padding: 10px 0;
}