.banner {
  background-image: url(/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 180px;
  position: relative;
}

.banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 1, 51, 0.7);
}

.banner .caption-content {
  position: relative;
}

.banner .caption-content h4 {
  color: #ff630e;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner .caption-content h2 {
  color: #fff;
  font-size: 70px;
  line-height: 77px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner .caption-content p {
  color: #fff;
  padding: 0 200px;
  font-size: 16px;
  line-height: 26px;
}

.banner .caption-content .banner-control {
  display: flex;
  align-items: center;
  justify-content: center;
}