.contacts-section {
  padding: 95px 0 150px;
}

.contacts-section .form-contact-img {
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.contacts-section .form-contact-container {
  padding: 25px 30px;
  border-radius: 10px;
}

.contacts-section .form-contact-container h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-section .form-contact-container textarea {
  height: 161px;
}