.contacts-section {
  padding: 95px 0 150px;
}

.contacts-section .form-contact-img {
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.contacts-section .form-contact-container {
  padding: 25px 30px;
  border-radius: 10px;
}

.contacts-section .form-contact-container h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-section .form-contact-container textarea {
  height: 161px;
}

// Home page 
.courses-section .course-card .banner-course {
  border-radius: 10px !important;
  object-fit: cover;
}

.out__sigle-info {
  text-align: center;
}

.out__sigle img {
  border-radius: 10px;
  object-fit: cover;
}

.out__sigle-info h3 {
  color: #130f40;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 15px 0;
}

.out__sigle-info h4 {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.out__sigle-member {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.owl-carousel .owl-item img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card-body {
  text-align: center;
}

.sub-title, .card-text {
  font-weight: 400;
  color: #999 !important;
}

.out__sigle-mentor-home {
  height: 400px;
}