@import "./bannerSection.scss";
@import "./aboutusSection";
@import "./advSection";
@import "./learningPathSection";
@import "./typicalCourse";
@import "./testimonial";
@import "./adv2Section";
@import "./contactsSection";
