.learning-path .left-section {
  background-image: url(/assets/images/banner-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  padding: 220px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.learning-path .left-section h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
  text-transform: uppercase;
}

.learning-path .left-section p {
  font-size: 22px;
  line-height: 26px;
}

.learning-path .left-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.learning-path .left-section:hover:before {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

.learning-path .left-section-content {
  color: white;
  position: relative;
}

.learning-path .right-section {
  background-image: url(/assets/images/banner-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  padding: 220px 0;
  position: relative;
  cursor: pointer;
}

.learning-path .right-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.learning-path .right-section:hover:before {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

.learning-path .right-section .right-section-content {
  color: white;
  position: relative;
}

.learning-path .right-section h2 {
  font-size: 42px;
  line-height: 56px;
  font-weight: 700;
  text-transform: uppercase;
}

.learning-path .right-section p {
  font-size: 22px;
  line-height: 26px;
}