.testimonial-content {
  padding: 95px 0 150px;
  background-color: $grey-white-color;
  .owl-carousel {
    .owl-nav {
      position: absolute;
      top: 30%;
      width: 100%;
      .owl-prev {
        position: absolute;
        left: -4%;
        font-size: 100px;
        color: $primary-color;
        outline: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0);
          color: $primary-color;
        }
      }
      .owl-next {
        position: absolute;
        right: -4%;
        font-size: 100px;
        color: $primary-color;
        outline: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0);
          color: $primary-color;
        }
      }
    }
    .owl-dots {
      margin-top: 30px !important;
    }
  }
  .card-body {
    .card-img-top-custom {
      height: 260px;
      max-height: 300px;
      object-fit: cover;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      margin: 0 0 6px;
      color: $primary-color;
    }
    .sub-title {
      font-weight: 400;
      color: $text-grey-color;
    }
    p {
      font-size: 16px;
      line-height: 26px;
      color: $text-grey-color;
      margin: 10px 0 20px;
    }
  }
}
