.testimonial-content {
  padding: 95px 0 150px;
}

.testimonial-content .owl-carousel .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
}

.testimonial-content .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -4%;
  font-size: 100px;
  outline: none;
}

.testimonial-content .owl-carousel .owl-nav .owl-prev:hover {
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-content .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -4%;
  font-size: 100px;
  outline: none;
}

.testimonial-content .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-content .owl-carousel .owl-dots {
  margin-top: 30px !important;
}

.testimonial-content .card-body .card-img-top-custom {
  height: 260px;
  max-height: 300px;
  object-fit: cover;
}

.testimonial-content .card-body .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 6px;
}

.testimonial-content .card-body .sub-title {
  font-weight: 400;
}

.testimonial-content .card-body p {
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0 20px;
}