.courses-section {
  padding: 95px 0 150px;
}

.courses-section .owl-carousel .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}

.courses-section .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -4%;
  font-size: 100px;
  outline: none;
}

.courses-section .owl-carousel .owl-nav .owl-prev:hover {
  background-color: rgba(0, 0, 0, 0);
}

.courses-section .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -4%;
  font-size: 100px;
  outline: none;
}

.courses-section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0);
}

.courses-section .owl-carousel .owl-dots {
  margin-top: 30px !important;
}

.courses-section .course-card {
  transition: 0.5s;
  border-radius: 10px;
  width: 90%;
  border: 1px solid #999;
}

.courses-section .course-card .banner-course {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: relative;
  border-bottom: 1px solid #999;
}

.courses-section .course-card .logo-course {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 2px solid #999;
  padding: 2px;
  background-color: #fff;
  bottom: -20%;
  left: 20px;
  border-radius: 5px;
}

.courses-section .course-card .logo-course img {
  width: 100%;
  height: 100%;
}

.courses-section .course-card .card-title {
  color: #130f40;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.courses-section .course-card .description {
  margin-top: 10px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.courses-section .course-card .btn-invite-course {
  background-color: #ff630e;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.courses-section .course-card .btn-invite-course:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-search-mobile {
  position: absolute;
  right: -70px;
  top: 13px;
  background-color: transparent;
  border: none;
  outline: none;
}
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ff630e;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
}

#btnScrollToTop:hover {
  background-color: #555;
}