.create-course-wrapper {
  .mentor-add-course {
    // padding: 35px 20px 0;
    .add-course-form {
      color: $primary-color;
      .image-container {
        position: relative;
        #frameImageCourse {
          max-height: 260px;
          border-radius: 10px;
        }
        .loading {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: none;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}

// Thông tin khóa học
.sup-autocom {
  background-color: #fff;
  width: 100%;
}

.sup-autocom.active input {
  border-radius: 5px 5px 0 0;
}

.sup-autocom.active .autocom-box{
  padding: 10px 8px;
}

.autocom-box {
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sup-autocom.active .autocom-box li {
  display: block;
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 1
.tag1-sup-autocom {
  position: relative;
}
.tag1-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag1-sup-autocom.active .tag1-autocom-box li {
  display: block;
} 
.tag1-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 2
.tag2-sup-autocom {
  position: relative;
}
.tag2-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag2-sup-autocom.active .tag2-autocom-box li {
  display: block;
} 
.tag2-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 3
.tag3-sup-autocom {
  position: relative;
}
.tag3-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag3-sup-autocom.active .tag3-autocom-box li {
  display: block;
} 
.tag3-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 4
.tag4-sup-autocom {
  position: relative;
}
.tag4-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag4-sup-autocom.active .tag4-autocom-box li {
  display: block;
} 
.tag4-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 5
.tag5-sup-autocom {
  position: relative;
}
.tag5-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag5-sup-autocom.active .tag5-autocom-box li {
  display: block;
} 
.tag5-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Tag 6
.tag6-sup-autocom {
  position: relative;
}
.tag6-autocom-box {
  position: absolute;
  top: 42px;
  background-color: #fff;
  z-index: 10;
  padding: 10px 8px;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.tag6-sup-autocom.active .tag6-autocom-box li {
  display: block;
} 
.tag6-autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;

  &:hover {
    background: #efefef;
  }
}

// Lộ trình khóa học
.course-route-title-name {
  font-size: 18px;
  font-weight: bold;
}

#titleModule {
  color: #0d6efd;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 6px;
  margin: 6px;
  margin-top: 22px;
  font-weight: bold;

  &:focus {
    outline: none;
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

#contentModule {
  border: 1px solid #fff;
  border-radius: 4px;

  &:focus {
    outline: none;
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.createChild {
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    color: #ff630e;
    cursor: pointer;
    transition: all 0.3s;
  }
}

// .course-route-show-lecture {
//   p {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     line-height: 26px;
//     color: #333;

//     &:hover {
//       color: #ff630e;
//       opacity: 0.8;
//       transition: 0.3s all;
//     }
//   }
// }

.nested {
  display: none;
}

.active {
  display: block;
}

.closeIT {
  border: none;
  outline: none;
  margin: 10px;
  font-weight: 450;
  background-color: transparent;

  &:hover {
    color: #ff630e;
    cursor: pointer;
    transition: all 0.3s;
  }
}

input {
  overflow: visible;
  border: none;
}

#treeContainerBe ul {
  list-style: none;
  border-left: 1px solid black;
  padding: 0;
  margin: 0;
  padding-left: 35px;
}

#treeContainerBe ul li {
  position: relative;
  text-transform: capitalize;
}

#treeContainerBe ul li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: -35px;
  background: black;
  height: 1px;
  width: 32px;
}

// Thời gian lớp học
.btn-create-class {
  color: #fff;
  background-color: #ff630e;

  &:hover {
    color: #fff;
    background-color: #ff630e;
    opacity: 0.8;
    transition: 0.3s all;
  }
}

.fa:hover {
  color: #ff630e;
  opacity: 0.8;
  transition: 0.3s all;
}

.startTime {
  padding: 5px 0;
  font-size: 1.5em;
  font-family: inherit;
  width: 100px;
}

// ._jw-tpk-dark
// ._jw-tpk-container {
//   position: absolute;
//   top: 2000px;
//   left: 0;
// }

// #2
.treetable {}

		.treetable .fa {
			cursor: pointer;
			padding-right: 6px;
      font-size: 20px;
      margin-top: 4px;
		}

    .treetable .fa.fa-remove {
      font-size: 20px;
      // margin-top: 4px;
    }

		.treetable .rowhidden {
			display: none;
		}

		.treetable .j-addChild {
			display: none;
		}

		.treetable .selected .j-addChild {
			display: block;
		}

		.treetable .btn-outline {
			background-color: transparent;
		}

		.treetable .form-control {
			width: auto;
			display: inline-block;
		}

		.treetable .textalign-center {
			text-align: center;
		}

		.treetable .j-expend {
			cursor: pointer;
			width: 40% !important;
			text-align: left !important;
		}

		.treetable .has-error .form-control {
      color: red;
			border: 1px solid red;
		}

		.treetable .maintitle {
			width: 35% !important;
		}

		.treetable .j-remove {
			// padding: 8px;
      margin-top: 9px;
			cursor: pointer;
			font-size: 16px;
			color: red;
		}

		.treetable .class-level-2 .class-level-ul .j-expend {
			position: relative;
			left: 22px;
      margin-right: 38px;
		}

		.treetable .class-level-3 .class-level-ul .j-expend {
			position: relative;
			left: 44px;
		}

		.treetable .class-level-4 .class-level-ul .j-expend {
			position: relative;
			left: 66px;
		}

		.treetable .class-level-1 {
      margin-top: 32px;
			// border-bottom: dashed 1px #eee;
		}

		.treetable .class-level-ul {
      margin-top: 12px;
			padding: 0;
			// margin-bottom: 2px;
		}

		.treetable .class-level-ul li {
			float: left;
			text-align: center;
			vertical-align: middle;
			// padding: 1px 10px;
			// min-width: 120px;
			list-style: none;
		}

		.treetable .class-level-ul:after {
			display: block;
			clear: both;
			height: 0;
			content: "\0020";
		}

		.treetable .tt-header div span {
			width: auto;
			line-height: 29px;
			display: inline-block;
			min-width: 120px;
			text-align: center;
		}

		.treetable .tt-body {
			// border: solid 1px #DDD;
			// padding-top: 1px;
			background-color: #FFF;
		}

		.treetable .tt-header div {
			// border: solid 1px #DDD;
			border-bottom: none;
			background-color: #FFF;
		}

// Collapse 1
.card1{
  margin-bottom: -1px;
}
.card-header .chevron {
  float: right;
}
.card-header a.collapsed .fa-chevron-up {
  display: none;
}
.card-header a:not(.collapsed) .fa-chevron-down {
  display: none;
}
.card-header a.collapsed .fa-chevron-down {
  display: block;
}
.card-header a:not(.collapsed) .fa-chevron-up {
  display: block;
}
.card-header .chevron:before {
  content: '\f078';
  font-family: 'FontAwesome';
}
.card-header a.collapsed .chevron:before {
  content: '\f054';
}
.card-header {
  font-size: 17px;
  padding: 20px;
  margin-top: -1px;
}
.card-header i {
  margin-right: 10px;
}

// Collapse 2
.card2{
  margin-bottom: -1px;
}
.card-header .chevron {
  float: right;
}
.card-header a.collapsed .fa-chevron-up {
  display: none;
}
.card-header a:not(.collapsed) .fa-chevron-down {
  display: none;
}
.card-header a.collapsed .fa-chevron-down {
  display: block;
}
.card-header a:not(.collapsed) .fa-chevron-up {
  display: block;
}
.card-header .chevron:before {
  content: '\f078';
  font-family: 'FontAwesome';
}
.card-header a.collapsed .chevron:before {
  content: '\f054';
}
.card-header {
  font-size: 17px;
  padding: 20px;
  margin-top: -1px;
}
.card-header i {
  margin-right: 10px;
}

// Collapse 3
.card3{
  margin-bottom: -1px;
}
.card-header .chevron {
  float: right;
}
.card-header a.collapsed .fa-chevron-up {
  display: none;
}
.card-header a:not(.collapsed) .fa-chevron-down {
  display: none;
}
.card-header a.collapsed .fa-chevron-down {
  display: block;
}
.card-header a:not(.collapsed) .fa-chevron-up {
  display: block;
}
.card-header .chevron:before {
  content: '\f078';
  font-family: 'FontAwesome';
}
.card-header a.collapsed .chevron:before {
  content: '\f054';
}
.card-header {
  font-size: 17px;
  padding: 20px;
  margin-top: -1px;
}
.card-header i {
  margin-right: 10px;
}