body {
  background-color: #fff;
}

.annotation-wrapper .banner__annotation {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.annotation-wrapper .banner__annotation h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.annotation-wrapper .banner__annotation p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.annotation-wrapper .banner__annotation p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.annotation-wrapper .banner__annotation p a:hover {
  color: #ff630e;
}

.annotation-wrapper .banner__annotation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.annotation-wrapper .section2-annotation {
  padding-top: 20px;
  margin-bottom: 20px;
}

.annotation-wrapper .section2-annotation .box-annottation {
  background-color: #E8E7EC;
  border-radius: 8px;
  padding: 20px 20px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.annotation-wrapper .section2-annotation .box-annottation button {
  height: 25px;
  margin-right: 1px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #ff630e;
  color: aliceblue;
  border: 0px solid;
}

.annotation-wrapper .section2-annotation .box-annottation h3 {
  margin-left: 5px;
  padding: 4px 4px;
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 28px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation {
  margin-top: 20px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  border-radius: 8px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .img-annotation {
  background-color: white;
  padding-top: 15px;
  padding-left: 20px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .img-annotation img {
  float: left;
  background-color: aquamarine;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .content-annotation {
  background-color: white;
  padding-left: 70px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .content-annotation .title {
  padding-left: 20px;
  line-height: 15px;
  color: #ff630e;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .content-annotation .content {
  padding-top: 10px;
  padding-left: 20px;
  line-height: 15px;
  color: black;
  font-size: 16px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation .content-annotation .timeDate {
  padding-left: 20px;
  padding-top: 10px;
  color: gray;
  font-size: 14px;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation:hover {
  border-radius: 8px;
  background-color: #0e0a38;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation:hover .content {
  color: #bebebe;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation:hover .title {
  color: #bebebe;
}

.annotation-wrapper .section2-annotation .box-annottation .box-content-annatation:hover .timeDate {
  color: #bebebe;
}

.annotation-wrapper .section2-annotation .btn-showmore {
  margin-top: 20px;
  text-align: center;
}

.annotation-wrapper .section2-annotation .btn-showmore button {
  border-radius: 8px;
  height: 30px;
  background-color: #ff630e;
  color: white;
  border: 0px solid;
  padding: 5px;
}

.icon-shopping-cart {
  width: 62px;
  height: 62px;
  object-fit: cover;
}

.icon-logo {
  width: 190px;
  height: 75px;
  object-fit: cover;
}

.bt-1 {
  /* margin-top: 50px; */
  float: left;
}

.wrapper {
  position: relative;
  height: 100%;
}

.first {
  background-color: #403c64;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* display: flex; */
}

.separator1-bill {
  border-bottom: 1px solid white;
  margin-top: 20px;
}

.header-contact-info-contact-info ul {
  display: flex;
  align-items: center;
  margin-left: -44px;
  color: #fff;
}

.header-contact-info-contact-info ul li {
  display: flex;
  align-items: center;
}