.lms-wrapper .banner__lms {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.lms-wrapper .banner__lms h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 45px;
}

.lms-wrapper .banner__lms p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.lms-wrapper .banner__lms p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.lms-wrapper .banner__lms p a:hover {
  color: #ff630e;
}

.lms-wrapper .banner__lms:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.lms-wrapper .section3 {
  padding-top: 50px;
  text-align: center;
}

.lms-wrapper .section3 h3 {
  color: #0e0a38;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 45px;
}

.lms-wrapper .section3 .employ__box {
  width: 90%;
  padding-left: 10%;
  border-radius: 15px;
}

.lms-wrapper .section3 .employ__box img {
  width: 100%;
  border-radius: 25px;
}

.lms-wrapper .section3:nth-child(2) {
  margin-top: -70px;
}

.lms-wrapper .section3 p {
  padding-top: 20px;
  font-size: 20px;
  color: #0e0a38;
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.lms-wrapper .section4 .func {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.lms-wrapper .section4 .func h3 {
  color: #0e0a38;
  line-height: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.lms-wrapper .section4 .func h4 {
  padding-top: 20px;
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 36px;
}

.lms-wrapper .section4 .box-bStudent {
  margin-bottom: 20px;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.lms-wrapper .section4 .box-bStudent h3 {
  padding-top: 20px;
  font-size: 22px;
  color: #ff630e;
  line-height: 30px;
  font-weight: 500;
}

.lms-wrapper .section4 .box-bStudent .employ__box {
  width: 100%;
  border-radius: 15px;
}

.lms-wrapper .section4 .box-bStudent .employ__box img {
  width: 100%;
  border-radius: 25px;
}

.lms-wrapper .section4 .box-bStudent:nth-child(2) {
  margin-top: -70px;
}

.lms-wrapper .section4 .box-bStudent p {
  height: 100%;
  padding-top: 20px;
  font-size: 20px;
  color: #0e0a38;
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
}

.lms-wrapper .section5 {
  margin-bottom: 50px;
}

.lms-wrapper .section5 .func {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.lms-wrapper .section5 .func h3 {
  color: #0e0a38;
  line-height: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 45px;
}

.lms-wrapper .section5 .func h4 {
  padding-top: 20px;
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 36px;
}

.lms-wrapper .section5 .box-bStudent {
  margin-bottom: 20px;
  padding: 20px 20px;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.lms-wrapper .section5 .box-bStudent h3 {
  padding-top: 20px;
  font-size: 22px;
  color: #ff630e;
  line-height: 30px;
  font-weight: 500;
}

.lms-wrapper .section5 .box-bStudent .employ__box {
  width: 100%;
  border-radius: 15px;
}

.lms-wrapper .section5 .box-bStudent .employ__box img {
  width: 100%;
  border-radius: 25px;
}

.lms-wrapper .section5 .box-bStudent:nth-child(2) {
  margin-top: -70px;
}

.lms-wrapper .section5 .box-bStudent p {
  padding-top: 20px;
  font-size: 20px;
  color: #0e0a38;
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
}

.service-card-icon, .service-card-title {
  color: #ff630e;
}
.employ_box_img{
  object-fit: cover;
  height: 300px;
  width: 130px;
}