* {
    box-sizing: border-box;
}

#content-privacy .content_landingpage .strong-privacy-policy, .title-privacy-policy1, .title-privacy-policy2, .title-privacy-policy3, .title-privacy-policy4, .title-privacy-policy5, .title-privacy-policy6 {
    font-weight: 500;
}

#content-privacy .content_landingpage .title-privacy-policy3 {
    font-size: 15px !important;
}

.title-privacy-policy1 {
    font-size: 36px;
}

.title-privacy-policy2 {
    font-size: 30px;
}

.title-privacy-policy1, .title-privacy-policy2, .title-privacy-policy3, .title-privacy-policy4, .title-privacy-policy5, .title-privacy-policy6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.title-privacy-policy1, .title-privacy-policy2, .title-privacy-policy3, .title-privacy-policy4, .title-privacy-policy5, .title-privacy-policy6 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-weight: 500;
}

.title-privacy-policy1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}

.title-privacy-policy2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title-privacy-policy3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.privacy-policy-content {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
}

#content-privacy .content_landingpage {
    list-style: disc;
}

#content-privacy {
    padding-top: 45px;
    margin-left: 20px;
}

#content-privacy .content_landingpage {
    font-size: 15px !important;
    background-color: white;
    line-height: 2.4;
    word-wrap: break-word;
    margin-top: 30px;
}

//fix responsive
.content-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 27px;
}

//fix frame
.content-row {
    // margin-left: -15px;
    // margin-right: -15px;
    // margin-top: -30px;
    // margin-bottom: 50px;
    margin: -30px -15px 50px -15px;
}








// .content-container {
// 	margin: 50px auto; /* Center the container */
// 	width: 80%; /* Set the width of the container */
// 	background-color: #fff; /* Set the background color of the container to white */
// 	padding: 20px; /* Add some padding to the container */
// 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to the container */
// }
