* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

.container-w {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-chevron-left {
  margin-right: 10px;
}

.banner__payment {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.banner__payment h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.banner__payment p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.banner__payment p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.banner__payment p a:hover {
  color: #ff630e;
}

.banner__payment:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.section-card-container {
  display: flex;
  flex-direction: column;
}

.content-payment {
  display: flex;
  justify-content: center;
  margin-left: 22px;
  margin-right: 22px;
}

.checkout {
  width: 80%;
}

.separator-bottom {
  border-bottom: 2px solid #ccc !important;
}

.checkout-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.checkout-container .link {
  font-size: 1.4rem;
  font-weight: 500;
}

.checkout-container .section-heading {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: 1.4rem !important;
}

.checkout-container .card1 {
  margin-top: 12px;
}

.checkout-container .card1-container {
  display: flex;
  background-color: #e0e0e0;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.checkout-container .card1-inner {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.checkout-container .card1-info-header {
  line-height: 1.6rem;
}

.checkout-container .card1-info-footer {
  line-height: 1.6rem;
}

.checkout-container .card1-info h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.payment-card-desc {
  font-size: 1rem !important;
}

.checkout-container .avatar {
  width: 140px;
  height: 140px;
  border-radius: 8px;
  background: #e0e0e0;
  margin-right: 10px;
}

.checkout-container .one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-container .one p {
  margin-top: 8px;
}

.checkout-container .card1-total-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.checkout-container .card1-total-price-code {
  display: flex;
  align-items: center;
}

.checkout-container .card1-total-price-code h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.checkout-container .card1-total-price-code-input {
  width: 60%;
  box-shadow: 0 0 8px 0 #706f6f;
  border-radius: 6px;
  margin-left: 10px;
  padding: 4px;
}

.checkout-container .fa-check-circle {
  margin-left: 6px;
  color: green;
}

.checkout-container .card1-total-price-cost {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkout-container .card1-total-price-cost h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.checkout-container .card1-total-price-cost p {
  margin-left: 6px;
  margin-right: 8px;
}

.checkout-container .card1-total-price-quantity {
  display: flex;
  align-items: center;
}

.checkout-container .card1-total-price-quantity h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.checkout-container .card1-total-price-quantity p {
  margin-left: 6px;
  margin-right: 8px;
}

.checkout-container .card1-total-price-reduce {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkout-container .card1-total-price-reduce h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.checkout-container .card1-total-price-reduce p {
  margin-left: 6px;
  margin-right: 8px;
}

.checkout-container .card1-total-price-total-cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkout-container .card1-total-price-total-cost h1 {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.checkout-container .card1-total-price-total-cost p {
  margin-left: 6px;
  margin-right: 8px;
}

.checkout-container .card1-total-price-total-cost .card1-total-price-btn-delete {
  background-color: transparent;
  color: #fd7e14;
  font-size: 1rem;
  font-weight: 500;
  // border-bottom: 1px solid #fd7e14;
  margin-left: 32px;
}

.checkout-container .card1-total-price-total-cost .card1-total-price-btn-delete:hover {
  opacity: 0.7;
  color: #fd7e14;
  transition: all 0.2s;
}

.section-cart-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.section-cart-container .card {
  width: 30%;
}

.cart-item-box {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.cart-item-box .section-heading1 {
  margin-top: 4px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-item-box .two {
  line-height: 1.6rem;
}

.cart-item-box .two .two-1 {
  font-weight: 400;
}

.cart-item-box .total-course {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

.cart-item-box .total-course h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-item-box .total-course p {
  color: #9e9b9b;
  font-size: 1.3rem;
  font-weight: 500;
}

.cart-item-box .total-course .total-course-price {
  font-size: 1.4rem;
  font-weight: 800;
}

.cart-item-box .total-course .total-course-payment-title {
  margin-top: 20px;
  color: black;
}

.cart-item-box .total-course .total-course-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cart-item-box .total-course .total-course-icon-item-momo,
.cart-item-box .total-course .total-course-icon-item-viettel-pay,
.cart-item-box .total-course .total-course-icon-item-bst {
  border-radius: 6px;
  box-shadow: 0 0 8px 0 #706f6f;
  margin-right: 12px;
  margin-left: 12px;
}

.cart-item-box .total-course .total-course-icon-item-bst:hover {
  cursor: not-allowed;
}

.cart-item-box .total-course .total-course-icon-item-momo-active,
.cart-item-box .total-course .total-course-icon-item-viettel-pay-active {
  border-radius: 6px;
  border: 2px solid green;
  margin-right: 12px;
  margin-left: 12px;
}

.cart-item-box .total-course .total-course-icon-item-momo-none-active,
.cart-item-box .total-course .total-course-icon-item-viettel-pay-none-active {
  border-radius: 6px;
  box-shadow: 0 0 8px 0 #706f6f;
  margin-right: 12px;
  margin-left: 12px;
}

.cart-item-box .total-course .total-course-icon-item-btn {
  padding: 13px;
  background-color: transparent;
}

.cart-item-box .total-course .total-course-icon-item-btn:hover {
  cursor: not-allowed;
}

.cart-item-box .total-course .total-course-icon-item-btn-momo {
  padding: 8px;
  background-color: transparent;
}

.cart-item-box .total-course .total-course-icon-item-btn-momo .momo-inner {
  margin-top: 4px;
  margin-left: 12px;
}

.cart-item-box .total-course .total-course-icon-item-btn-momo:hover {
  opacity: 0.8;
}

.cart-item-box .total-course .total-course-icon-item-btn-1 {
  padding: 8px;
  background-color: transparent;
}

.cart-item-box .total-course .total-course-icon-item-btn-1:hover {
  opacity: 0.8;
}

.cart-item-box .total-course .total-course-momo-icon {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.cart-item-box .total-course .total-course-momo-icon-1 {
  width: 30px;
  /* Thay đổi độ rộng của icon tùy ý */
  height: 30px;
  /* Thay đổi độ cao của icon tùy ý */
}

.cart-item-box .total-course .total-course-momo-icon-12 {
  width: 100px;
  /* Thay đổi độ rộng của icon tùy ý */
  height: 100px;
  /* Thay đổi độ cao của icon tùy ý */
}

.cart-item-box .total-course .total-course-momo-icon-123 {
  width: 100px;
  /* Thay đổi độ rộng của icon tùy ý */
  height: 100px;
  /* Thay đổi độ cao của icon tùy ý */
}

.cart-item-box .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.cart-item-box .modal-body {
  display: flex;
  justify-content: center;
}

.cart-item-box .modal-title {
  margin-right: 10px;
  /* Thay đổi giá trị margin theo ý muốn */
  margin-top: 2.5px;
}

.cart-item-box .one1 h1,
.cart-item-box .one1 p {
  color: #FF6600;
  /* Thay đổi màu chữ thành màu cam */
}

.cart-item-box .one1 h1:nth-of-type(2) {
  margin-bottom: 20px;
  /* Thêm khoảng cách 20px giữa dòng chữ "Cổng thanh toán" và phần hiển thị dữ liệu */
}

.cart-item-box .text-1 {
  text-align: center;
  color: white;
}

.cart-item-box .one1 {
  float: left;
  background: #121224;
  border-radius: 10px;
  margin-right: 90px;
  padding: 20px;
  justify-content: flex-end;
  font-size: 20px;
}

.cart-item-box .two-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

.cart-item-box .separator {
  border-top: 2px solid white;
  /* Thay đổi màu đường kẻ ngang thành màu cam */
}

.cart-item-box .separator1 {
  border-top: 2px solid #5e5e5e;
  /* Thay đổi màu đường kẻ ngang thành màu cam */
}

.cart-item-box .separator2 {
  border-top: 2px solid #5e5e5e;
  /* Thay đổi màu đường kẻ ngang thành màu cam */
}

.cart-item-box .modal-content {
  border-radius: 10px;
  overflow: hidden;
}

.cart-item-box .title-qr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-item-box .h1-qr {
  margin-left: 10px;
}

.cart-item-box .q {
  color: #ee0033;
  font-weight: 700;
  font-size: 30px;
}

.cart-item-box .q-1 {
  color: #d82d8b;
  font-weight: 700;
  font-size: 30px;
}

.cart-item-box .dot-spinner {
  --uib-size: 1.8rem;
  --uib-speed: 0.9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.cart-item-box .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.cart-item-box .dot-spinner__dot::before {
  content: '';
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.cart-item-box .dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.cart-item-box .dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.cart-item-box .dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.cart-item-box .dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.cart-item-box .dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.cart-item-box .dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.cart-item-box .dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.cart-item-box .dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.cart-item-box .dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.cart-item-box .dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.cart-item-box .dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.cart-item-box .dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.cart-item-box .dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.cart-item-box .dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
      transform: scale(0);
      opacity: 0.5;
  }

  50% {
      transform: scale(1);
      opacity: 1;
  }
}

.cart-item-box .btn-dk {
  color: #ee0033;
  text-transform: uppercase;
  text-decoration: none;
  border: 2.5px solid #ee0033;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px;
}

.cart-item-box .btn-dk-1 {
  color: #d82d8b;
  text-transform: uppercase;
  text-decoration: none;
  border: 2.5px solid #d82d8b;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px;
}

.btn-dk:hover {
  color: #d82d8b;
}

.btn-dk::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn-dk:hover::before {
  width: 160%;
}

.color-title {
  color: #d82d8b;
}

.color-title-3 {
  color: #ee0033;
}

.total-course-cash {
  display: flex;
  flex-direction: column;
}

.total-course-cash-item {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.total-course-cash-item .total-course-cash-balance-lbl {
  font-size: 1.2rem;
  font-weight: 500;
  width: 40%;
}

.total-course-cash-item .total-course-cash-balance {
  color: black;
  font-size: 1.2rem;
}

.total-course-cash-item .total-course-cash-balance-1 {
  color: black;
  font-size: 1.2rem;
}

.total-course-cash-item .total-course-cash-balance-2 {
  color: black;
  font-size: 1.2rem;
}

.section-card-contact {
  margin-top: 14px;
  border: 1px solid #9e9b9b;
  margin-bottom: 14px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  width: 500px;
}

.section-card-contact h2 {
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.section-card-contact h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
}

.section-card-contact .section-card-contact-desc {
  margin-top: 6px;
  font-size: 1rem;
  color: #9e9b9b;
  text-align: center;
}

.header-cart {
  flex-basis: 5%;
}

.header-cart a {
  color: #0e0a38;
  font-size: 30px;
  position: relative;
}

.header-cart .cart-total-number-1 {
  position: absolute;
  right: -4px;
  top: 10px;
  background-color: #ff630e;
  color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 13px;
  width: 18px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.course-of-member-container {
  width: 30%;
  margin-top: 40px;
}

.course-of-member-container .course-of-member-inner {
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
  // padding: 20px;
  background-color: #fff;
}

.course-of-member-container .course-of-member-inner h2 {
  text-align: center;
}

.course-of-member-container .course-of-member-item {
  margin-top: 12px;
  padding: 4px;
  border-radius: 13px;
  background-color: #e0e0e0;
}

.course-of-member-container .course-of-member-item-inner {
  border-radius: 10px;
  padding: 6px;
  background-color: #fff;
  line-height: 1.4rem;
}

.course-of-member-container .course-of-member-item-inner p {
  font-size: 1rem;
  font-weight: 500;
}

.course-of-member-container .course-of-member-item-inner span {
  font-size: 0.9rem;
  font-weight: 400;
}

.modal-title-2 {
  margin: 0 auto;
  color: #ee0033;
  font-size: 25px;
}

.h1-success-1 {
  color: red;
}

.h1-success-2 {
  color: #FF6600;
  font-weight: bold;
}

.so-luong {
  position: relative;
}

.so-luong #so-luong-div {
  position: absolute;
  top: -24px;
  right: 2px;
}

.hidden-1 {
  display: none;
}

.card1-total-price-code {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.card1-total-price-code-input {
  border: 1px solid #fd7e14;
  border-radius: 4px;
  margin: 0 4px;
  padding-left: 4px;
  margin-left: 34px;
}

.card1-total-price-code-input:focus {
  outline: 1px solid #fd7e14;
  border: 1px solid #fd7e14;
}

.card1-total-price-code-input-refer {
  border: 1px solid #fd7e14;
  border-radius: 4px;
  margin: 0 4px;
  padding-left: 4px;
}

.card1-total-price-code-input-refer:focus {
  outline: 1px solid #fd7e14;
  border: 1px solid #fd7e14;
}

.fa-check-circle {
  color: green;
}


.total-course-icon-item-btn-viettel-pay:hover {
  cursor: not-allowed;
}


.total-course-icon-item-btn-viettel-pay {
  padding: 8px;
  background-color: transparent;
}

.total-course-icon-item-btn-viettel-pay .viettel-inner {
  margin-top: 4px;
  margin-left: 12px;
}

.bill-member {
  padding: 6px;
  border: 0.1px dashed black;
  border-radius: 6px;
}

.bill-member-item {
  display: flex;
  align-items: center;
}

.bill-member-item-price {
  margin-left: 10px;
  font-weight: 500;
}

.separator-bill {
  border-bottom: 1px solid black;
}

.card1-total-price-total-cost {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#quantity-courses-payment {
  margin: 0 4px;
  font-size: 1rem;
  font-weight: bold;
  color: #fd7e14;
}

.bill-member-item-price-2 {
  font-weight: bold;
  margin-left: 10px;
}

.bill-member-item-price-1 {
  margin-left: 10px;
}

.form-check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.icon-bst {
  padding: 1px;
  background-color: transparent;
}

.icon-bst:hover {
  opacity: 0.8;
}

.img-avatar {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 139px;
  height: 140px;
  border-radius: 4px;
  object-fit: cover;
  width: 138px;
}

.bsmart-pay-number {
  margin-left: 6px;
  font-size: 1rem;
  font-weight: 600;
  color: #fd7e14;
}

.bill-bsmart-pay-number {
  display: none;
}

.bill-bsmart-pay-number {
  display: flex;
  align-items: center;
}

.bill-member-item-price-bsmart-pay-label {
  display: none;
  margin-right: 6px;
}

.text-success {
  color: #28a745 !important;
}

.info-people-buy {
  display: flex;
  align-items: center;
}

.info-people-buy-label {
  font-weight: 500 !important;
  margin-right: 88px;
}

.info-people-buy-label-phone {
  font-weight: 500 !important;
  margin-right: 20px;
}

.info-people-buy-label-email {
  font-weight: 500 !important;
  margin-right: 76px;
}

// Icon question
.icon-question-referral-code {
  margin-left: 6px;
  cursor: pointer;
}

.icon-question-referral-code:hover {
  color: #fd7e14;
  transition: all 0.2s;
}

.icon-question-payment {
  margin-left: 6px;
  cursor: pointer;
}

.icon-question-payment:hover {
  color: #fd7e14;
  transition: all 0.2s;
}

.separator-policy {
  margin: 0 !important;
}

.title-slogan {
  text-align: left !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem !important;
}

.modal-body-policy {
  display: flex;
  flex-direction: column;
}

.desc-temp {
  color: black !important;
  font-size: 0.86rem !important;
  font-weight: 400 !important;
  line-height: 1.1rem !important;
  margin-top: 12px;
  text-align: justify;
}

.name-primary {
  font-weight: bold;
}

.instruct-title {
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  line-height: 1.1rem !important;
  margin-top: 12px;
}

.link-page-course {
  color: blue;
}

.link-page-course:hover {
  color: blue;
}

.step-1 {
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  line-height: 1.1rem !important;
  margin-top: 6px;
}

#submitVoucher1 {
  font-size: 1rem;
}

#submitVoucher1:hover {
  opacity: 0.7;
  cursor: pointer;
}