.mentor-detail-wrapper .banner-mentor-detail {
  width: 100%;
  padding: 110px 0 100px;
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mentor-detail-wrapper .banner-mentor-detail:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(19, 15, 64, 0.8);
  top: 0;
  left: 0;
  right: 0;
}

.mentor-detail-wrapper .banner-mentor-detail .banner-content {
  position: relative;
  text-align: center;
}

.mentor-detail-wrapper .banner-mentor-detail .banner-content h1 {
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #ff630e;
}

.mentor-detail-wrapper .banner-mentor-detail .banner-content p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.mentor-detail-wrapper .banner-mentor-detail .banner-content p a {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.mentor-detail-wrapper .banner-mentor-detail .banner-content p a:hover {
  color: #ff630e;
  transition: all 0.3s;
}

.mentor-detail-wrapper .content-info-mentor {
  padding: 100px 0;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info {
  padding: 20px 20px 50px;
  box-shadow: 0px 0px 15px 0px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
  text-align: center;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-img {
  background-image: url(/assets/images/overlay-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 50px 30px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-img img {
  margin-top: 20px;
  border-radius: 4px;
  max-width: 100%;
  height: 100%;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details p {
  font-size: 16px;
  line-height: 26px;
  color: #999;
  margin-bottom: 1rem;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .social-list {
  margin: 0;
  padding: 0;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .social-list li {
  display: inline-block;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .social-list li a {
  display: block;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 16px;
  line-height: 38px;
  margin: 0 3px;
  color: #fff;
  background-color: #ff630e;
  border-radius: 4px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .contact-info {
  padding: 30px 0 20px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .contact-info li {
  margin: 0 30px;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 0;
  color: #999;
}

.mentor-detail-wrapper .content-info-mentor .mentor-info .mentor-details .contact-info li span i {
  color: #ff630e;
  font-size: 14px;
  padding-right: 5px;
}

.mentor-detail-wrapper .content-info-mentor .about-mentor h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.mentor-detail-wrapper .content-info-mentor .about-mentor p {
  font-size: 16px;
  line-height: 26px;
  color: black;
  text-align: justify;
}

.mentor-detail-wrapper .content-info-mentor .skill-rate {
  padding: 20px;
}

.mentor-detail-wrapper .content-info-mentor .skill-rate h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #0e0a38;
  margin-bottom: 0.5rem;
}

.mentor-detail-wrapper .content-info-mentor .skill-rate .skill-single {
  margin-bottom: 15px;
}

.mentor-detail-wrapper .content-info-mentor .skill-rate .skill-single .skill-level-text {
  float: right;
}

.mentor-detail-wrapper .content-info-mentor .experience h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #0e0a38;
  margin-bottom: 0.5rem;
}

.mentor-detail-wrapper .content-info-mentor .experience p {
  font-size: 16px;
  line-height: 26px;
  color: black;
  margin-bottom: 10px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-profile-counter .counter-single {
  padding: 25px 20px 20px 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-profile-counter .counter-single .counter-number h2 {
  color: #ff630e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}

.mentor-detail-wrapper .content-info-mentor .mentor-profile-counter .counter-single .counter-title p {
  font-size: 20px;
  color: #0e0a38;
}

.mentor-detail-wrapper .content-info-mentor .courses {
  width: 100%;
  margin-top: 22px;
}

.mentor-detail-wrapper .content-info-mentor .courses h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}

.main-courses-list .card-course-custom {
  width: 100%;
}

.main-courses-list .card-course-custom:hover {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.2);
  transition: all 0.3s;
}

.main-courses-list .card-course-custom .card-title {
  min-height: 40px;
}

.main-courses-list .card-course-custom .card-title a {
  color: #130f40;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.main-courses-list .card-course-custom .card-title a:hover {
  color: #ff630e;
  cursor: pointer;
  transition: all 0.3s;
}

.main-courses-list .card-course-custom .sub-title {
  color: #999;
}

.main-courses-list .card-course-custom .description {
  color: #0e0a38;
  margin-top: 10px;
  font-weight: 400;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.main-courses-list .card-course-custom .cost {
  color: #ff630e;
  font-size: 16px;
  font-weight: 500;
}

.main-courses-list .card-course-custom .add-to-cart i {
  font-size: 27px;
}

.main-courses-list .card-course-custom .add-to-cart:hover i {
  transition: all 0.3s;
  color: #ff630e;
  cursor: pointer;
}

.description-detail {
  color: #0e0a38;
  margin-top: 10px;
  font-weight: 400;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#name-course {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: black;
}

.contact-info li {
  display: flex;
  align-items: center;
}