.footer {
  background-color: #0e0a38;
  padding: 90px 0 50px;
  color: $white-color;
  .title-address {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    color: $text-grey-color;
    word-break: break-word;
    margin-bottom: 20px;
  }
  .hotline {
    font-size: 15px;
    line-height: 21px;
    color: $text-grey-color;
    word-break: break-word;
  }
  .address {
    font-size: 15px;
    line-height: 21px;
    color: $text-grey-color;
    word-break: break-word;
  }
  .quaters {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $white-color;
    word-break: break-word;
    margin-bottom: 12px;
  }
  h6 {
    color: $white-color;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
.footer-logo {
  padding-right: 40px;
}
.site-logo-footer {
  color: $white-color;
}
.footer-about-description {
  color: $white-color;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.42857143;
  font-size: 14px;
  text-align: justify;
}
.footer-social-icons {
  li {
    display: inline-block;
    padding-right: 15px;
    a {
      color: $white-color;
    }
  }
}
.footer-menu {
  h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: $white-color;
    font-weight: 700;
  }
  ul {
    li {
      padding-bottom: 15px;
      a {
        display: block;
        color: $white-color;
        font-weight: 400;
      }
    }
  }
}
.footer-contact {
  h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: $white-color;
    font-weight: 700;
  }
  ul {
    list-style-type: none;
  }
  li {
    color: $white-color;
    position: relative;
    list-style-type: none;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    padding-bottom: 20px;
    i {
      font-size: 20px;
      color: $secondary-color;
      padding-right: 40px;
      &.fa {
        &.fa-map-marker {
          font-size: 30px;
          color: $secondary-color;
          padding-right: 40px;
        }
      }
    }
  }
}
