.header-top {
  background-color: $primary-color;
  overflow: hidden;
  padding: 15px 0;
}
.header-top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.header-top-social {
  li {
    display: inline-block;
    list-style-type: none;
    a {
      display: block;
      text-align: center;
      width: 25px;
      height: 25px;
      font-size: 15px;
      line-height: 25px;
      margin: 0 3px;
      color: $white-color;
    }
  }
}
.header-contact-info {
  li {
    list-style-type: none;
    color: $white-color;
  }
}
.header-course-search {
  flex-basis: 50%;
  position: relative;
  input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    height: 40px;
    color: #fff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    &:focus {
      background-color: transparent;
      color: $white-color;
    }
  }
  span {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10000;
    top: 10px;
    right: 20px;
  }
}
.header-log-reg {
  position: relative;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: $white-color;
      transition: all 0.3s;
      &:hover {
        color: $secondary-color;
      }
    }
    small {
      color: $white-color;
    }
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .avatar-control {
    position: absolute;
    width: 100%;

    border-radius: 10px;
    background: $white-color;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    min-width: 230px;
    padding: 8px 24px !important;
    z-index: 600;
    li {
      display: block;
      a {
        color: $primary-color;
      }
    }
  }
}
.header-bottom {
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0;
}
.header-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  li {
    position: relative;
    & > ul {
      z-index: 3;
      display: none;
      position: absolute;
      background: $white-color;
      text-align: left;
      -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      border-radius: 5px;
      border-top: 2px solid $secondary-color;
      transition: 0.3s;
      width: max-content;
      min-width: 200px;
      padding: 20px 0px;
      & > li {
        padding: 10px 20px 10px 10px;
        border-bottom: 1px solid $grey-white-color;
      }
    }
    &:hover {
      & > ul {
        display: block;
      }
      .sub-menu {
        visibility: visible;
        opacity: 1;
      }
      .sub-nav {
        visibility: visible;
        opacity: 1;
      }
    }
    .sub-nav {
      position: absolute;
      top: 35px;
      width: 100%;
      z-index: 1;
      min-width: 450px;
      background-color: $white-color;
      -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      border-top: 2px solid $secondary-color;
      border-radius: 5px;
      transition: 0.3s;
      padding: 20px;
      visibility: hidden;
      opacity: 0;
      a {
        color: $primary-color;
        font-weight: 500 !important;
        display: block;
        transition: 0.3s;
        padding: 5px;
        &:hover {
          color: $secondary-color;
        }
      }
      li {
        border-bottom: 1px solid $grey-white-color;
        a {
          font-weight: 400 !important;
        }
      }
    }
    .sub-menu {
      position: absolute;
      top: 35px;
      z-index: 1;
      background-color: $white-color;
      text-align: left;
      -webkit-box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      box-shadow: 0 0 30px rgb(0 0 0 / 10%);
      border-radius: 5px;
      border-top: 2px solid $secondary-color;
      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
      li {
        border-bottom: 1px solid $grey-white-color;
        padding: 0 10px;
        a {
          padding: 10px 5px;
          color: $primary-color;
          font-weight: 500 !important;
          display: block;
          transition: 0.3s;
        }
        &:hover {
          a {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
.navbar {
  li {
    & > ul {
      li {
        & > ul {
          right: -90%;
          top: 0;
        }
      }
    }
  }
}
.nav-link-custom {
  color: #130f40;
  padding: 10px 5px;
  font-size: 17px;
  font-weight: 500;
  &.active {
    color: $secondary-color !important;
  }
  &:hover {
    color: $secondary-color !important;
  }
}
.site-logo {
  color: $primary-color;
  font-size: 30px;
  font-weight: bold;
  .logo {
    border-radius: 50%;
    max-width: 100px;
    object-fit: cover;
  }
}
.header-cart {
  flex-basis: 5%;
  a {
    color: $primary-color;
    font-size: 30px;
    position: relative;
  }
  .cart-total-number {
    position: absolute;
    right: -15px;
    top: -6px;
    background-color: $secondary-color;
    color: $white-color;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 13px;
    width: 18px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}
