.login-form-container {
  padding: 60px 55px;
  position: fixed;
  top: -100%;
  z-index: 3;
  width: 100%;
  transition: all 0.5s ease-out 0s;
  height: 100vh;
  .login-form-content {
    border-radius: 10px;
    position: relative;
    background: $white-color;
    max-width: 500px;
    width: 500px;
    padding: 50px;
    box-shadow: 0 0 30px rgb(51 51 51 / 10%);
    .close-login-form {
      display: inline-block;
      position: absolute;
      font-size: 40px;
      right: 20px;
      top: 10px;
      cursor: pointer;
    }
    h3 {
      font-size: 24px;
      line-height: 34px;
      color: $primary-color;
      font-weight: 700;
    }
    label {
      color: $text-grey-color;
    }
    .forgot-pass {
      .custom-link {
        color: $text-grey-color !important;
      }
    }
  }
  &:before {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
}
