.wallet-history-wrapper .banner__wallet-history {
  background-image: url(/assets/images/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 100px;
  position: relative;
  z-index: -2;
}

.wallet-history-wrapper .banner__wallet-history h2 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 49px;
}

.wallet-history-wrapper .banner__wallet-history p {
  font-size: 16px;
  line-height: 26px;
  color: #f5f5f5;
}

.wallet-history-wrapper .banner__wallet-history p a {
  color: #f5f5f5;
  transition: all 0.3s;
}

.wallet-history-wrapper .banner__wallet-history p a:hover {
  color: #ff630e;
}

.wallet-history-wrapper .banner__wallet-history:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(5, 1, 51, 0.7);
}

.wallet-history-wrapper .employee__img {
  margin-top: 130px;
  width: 100%;
  padding: 30px;
}

.wallet-history-wrapper .employee__img .employ__box {
  width: 100%;
  border-radius: 15px;
}

.wallet-history-wrapper .employee__img .employ__box img {
  width: 100%;
  border-radius: 25px;
}

.wallet-history-wrapper .employee__img:nth-child(2) {
  margin-top: -70px;
}

.wallet-history-wrapper .sec-heading__about {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.wallet-history-wrapper .sec-heading__about h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff630e;
  letter-spacing: 1px;
}

.wallet-history-wrapper .sec-heading__about h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
}

.wallet-history-wrapper .sec-heading__about p {
  color: grey;
  margin: 20px 0 40px;
  letter-spacing: 1px;
  line-height: 25px;
}

.wallet-history-wrapper .wallet-history-option {
  padding-top: 100px;
}

.wallet-history-wrapper .title-wallet-member h3 {
  color: #ff630e;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 32px;
}

.wallet-history-wrapper .search-form {
  position: relative;
}

.wallet-history-wrapper .search-form input {
  width: 100%;
  height: 35px;
  border: 0;
  background-color: #f1f1f1;
  padding-left: 20px;
  border-radius: 5px;
}

.wallet-history-wrapper .search-form button {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 35px;
  width: 60px;
  border: 0;
  background-color: #ff630e;
  font-size: 20px;
  padding: 0 20px;
  border-radius: 0 5px 5px 0;
  color: #fff;
}

.wallet-history-wrapper .search-form button:hover {
  background-color: #130f40;
}

.wallet-history-wrapper .widget {
  padding: 20px 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.wallet-history-wrapper .widget h4 {
  color: #130f40;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.wallet-history-wrapper .search-date {
  margin-right: 10px;
}

.wallet-history-wrapper .btn {
  background-color: #ff630e;
  color: white;
}

.wallet-history-wrapper .wallet-history-area {
  padding: 10px 0;
}

.wallet-history-wrapper .table {
  padding: 30px 40px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.1);
}

.wallet-history-wrapper .blog-pagination li {
  display: inline-block;
}

.wallet-history-wrapper .blog-pagination li a,
.wallet-history-wrapper .blog-pagination li span {
  width: 55px;
  height: 55px;
  background-color: #f7f7f7;
  display: block;
  border: 1px solid #e6f0fa;
  border-radius: 50%;
  font-weight: 500;
  line-height: 55px;
  font-size: 16px;
  margin: 0 5px;
}

.wallet-history-wrapper .blog-pagination li i {
  font-size: 20px;
}

.wallet-history-wrapper .blog-pagination li a:hover,
.wallet-history-wrapper .blog-pagination li span {
  border-color: #ff630e;
  background-color: #ff630e;
  color: #fff;
}